@charset "UTF-8";
/* CSS Document */

.bg-primary {
    background-color: #99cc99 !important;
}

#portfolio-modal-7 {
	background-color: lightgray;
}

#portfolio-modal-8 {
	bacground-color: lightgray;
}

.col-md-6.col-lg-6 {
    padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;	
	margin-left: 0px !important;
	margin-right:0px !important;
}


body{font-family: 'Josefin Sans', sans-serif;
font-weight:400;
font-style:normal;}
