@charset "UTF-8";
/* CSS Document */

.bg-primary {
    background-color: #fefaed !important;
}

#portfolio-modal-7 {
	background-color: lightgray;
}

#portfolio-modal-8 {
	bacground-color: lightgray;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #fefae0 no-repeat 50% 50%;
    background-size: cover;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #002d2d url("../preloader.gif") no-repeat center center;
}

.input-text {
	font-family: 'Garfunkel', Arial, sans-serif; 
	width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.col-md-6.col-lg-6 {
    padding-left: 0px !important;
	padding-right: 0px !important;
	border-left-width: 0px !important;
	border-right-width: 0px !important;	
	margin-left: 0px !important;
	margin-right:0px !important;
}

.alice {
	padding-left: 100px;
	padding-right: 100px;
}

.callout {
	margin-top: 50px;
	margin-bottom: 50px;
}


body{font-family: 'Rubik', sans-serif;
font-weight:400;
font-style:normal;}

.hover {font-family: 'Nudica Regular', sans-serif;
font-weight:400;
font-size: 1rem;
line-height: 1.3rem;
font-style:normal;
color:#000;
padding:15px;}

/*-----------------------------------------------------------------------------------*/
/*  Loader
/*-----------------------------------------------------------------------------------*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url(../img/loader.gif) center no-repeat #fefae0;
  background-size: 400px;
}
