@charset "UTF-8";
/* CSS Document */

.bg-primary {
    background-color: #99cc99 !important;
}

#portfolio-modal-7 {
	background-color: lightgray;
}

#portfolio-modal-8 {
	bacground-color: lightgray;
}



	